<form class='form-q'>
  <app-student-profile></app-student-profile>
  <app-test-profile></app-test-profile>
  <div class='form-question'>
    This is question. Please select the correct answer.
  </div>
  <div>
    <div class="option-div">
      <span class="option-span" (click)='selectedOption()'> Option 1</span>
      <span class="option-span" (click)='selectedOption()'> Option 1</span>
    </div>
    <div class="option-div">
      <span class="option-span" (click)='selectedOption()'> Option 1</span>
      <span class="option-span" (click)='selectedOption()'> Option 1</span>
    </div>
  </div>

</form>