<h1>Angular Router</h1>
  <nav>
    <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
    <a routerLink="/exam" routerLinkActive="active">Exam</a>
    <a routerLink="/students" routerLinkActive="active">Students</a>
    <a routerLink="/ng-quiz" routerLinkActive="active">Ng Quiz</a>
    <a routerLink="/toh-pt4" routerLinkActive="active">toh-pt4</a>
    <a routerLink="/toh-pt6" routerLinkActive="active">toh-pt6</a>
    <a routerLink="/pipes" routerLinkActive="active">Pipes</a>
    <a routerLink="/flying-hero" routerLinkActive="active">Flying Hero</a>
    
  </nav>
  <router-outlet></router-outlet>
<!-- <app-quiz></app-quiz> -->

<!-- <h1>{{title}}</h1>
<app-heroes></app-heroes>
<app-messages></app-messages> -->