<h3>Simple Date Pipe</h3>
<p>The hero's birthday is {{ birthday | date }}</p>

<h3>Date pipe with formating</h3>
<p>The hero's birthday is {{ birthday | date:"MM/dd/yy" }} </p>

<h3>Date pipe with formating and toggle</h3>
<p>The hero's birthday is {{ birthday | date:format }}</p>
<button (click)="toggleFormat()">Toggle Format</button>

<h3>Chaining pipes 'date and uppercase'</h3>
<p>The chained hero's birthday is {{ birthday | date | uppercase}}</p>

<h2>Custom Pipes</h2>
<h3>Power Booster</h3>
<p>Super power boost: {{2 | exponentialStrength: 10}}</p>

<h3>Power Boost Calculator</h3>
<div>Normal power: <input [(ngModel)]="power"></div>
<div>Boost factor: <input [(ngModel)]="factor"></div>
<p>
  Super Hero Power: {{power | exponentialStrength: factor}}
</p>


